@{
    ViewData["Title"] = "O servisu";
}
<h1 class="display-3">@ViewData["Title"]</h1>

<div class="container-fluid">
<p>
        Naš servis za evidentiranje firmi pruža sveobuhvatno rešenje za registrovanje i upravljanje poslovnim entitetima. 
        S ciljem da vam olakšamo proces registracije i upravljanja firmama, razvili smo sistem koji omogućava efikasno praćenje i upravljanje svim relevantnim informacijama o firmama i njihovim prijavama.
</p>
</div>